.ssl-datapoint {
  .ssl-datapoint__viewport {
    .ssl-datapoint__label {
      font-weight: 500;
    }

    .ssl-datapoint__differential {
      &.ssl-datapoint__differential--positive {
        color: #00e676;
      }

      &.ssl-datapoint__differential--negative {
        color: #ff1744;
      }
    }
  }
}
