<div class="ssl-datapoint">
  <div class="ssl-datapoint__viewport pl-3 pr-3 pt-3">
    <p class="ssl-datapoint__label mb-0">{{ label }}</p>

    <p class="ssl-datapoint__value" *ngIf="directNumber">
      {{ directNumber | number }} 
      <span 
        *ngIf="isShowingNumberDifferentials && differential" 
        class="ssl-datapoint__differential"
        [ngClass]="{ 
          'ssl-datapoint__differential--positive': differential > 0,
          'ssl-datapoint__differential--negative': differential < 0
        }">
        (<span *ngIf="differential > 0">+</span>{{ differential | number }})
      </span>
    </p>

    <p class="ssl-datapoint__value" *ngIf="renderSum">
      {{ renderSum | number }}
      <span 
        *ngIf="isShowingNumberDifferentials && differential" 
        class="ssl-datapoint__differential"
        [ngClass]="{ 
          'ssl-datapoint__differential--positive': differential > 0,
          'ssl-datapoint__differential--negative': differential < 0
        }">
        (<span *ngIf="differential > 0">+</span>{{ differential | number }})
      </span>
    </p>

    <p class="ssl-datapoint__value" *ngIf="renderAverage">
      {{ renderAverage | number }}
      <span 
        *ngIf="isShowingNumberDifferentials && differential" 
        class="ssl-datapoint__differential"
        [ngClass]="{ 
          'ssl-datapoint__differential--positive': differential > 0,
          'ssl-datapoint__differential--negative': differential < 0
        }">
        (<span *ngIf="differential > 0">+</span>{{ differential | number }})
      </span>
    </p>

    <p class="ssl-datapoint__value" *ngIf="renderMostRecent">
      {{ renderMostRecent | number }}
      <span 
        *ngIf="isShowingNumberDifferentials && differential" 
        class="ssl-datapoint__differential"
        [ngClass]="{ 
          'ssl-datapoint__differential--positive': differential > 0,
          'ssl-datapoint__differential--negative': differential < 0
        }">
        (<span *ngIf="differential > 0">+</span>{{ differential | number }})
      </span>
    </p>

    <p class="ssl-datapoint__value" *ngIf="directString">
      {{ directString }}
    </p>

    <p 
      *ngIf="!directNumber && !directString && !renderAverage && !renderMostRecent && !renderSum"
      class="ssl-datapoint__value" >
      &ndash;
    </p>
  </div>

  <mat-divider></mat-divider>
</div>