<div class="dark-theme">
  <div class="mat-app-background">
    <div class="container-fluid pl-0 pr-0">
      <mat-sidenav-container *ngIf="session$ | async as session">
        <mat-sidenav #sidenav>
          <ssl-settings 
            [clonedSessionSettings]="clonedSessionSettings"
            (cancel)="handleCancelSettings()"
            (save)="handleSettingsSave($event)">
          </ssl-settings>
        </mat-sidenav>
        <mat-sidenav-content>
          <ssl-display 
            [session]="session" 
            (openSettings)="handleOpenSettings()">
          </ssl-display>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>