<div *ngIf="session$ | async as session" class="ssl-display">
  <ssl-datapoint
    label="Pace"
    [directNumber]="session.currentPace">
  </ssl-datapoint>

  <ssl-datapoint
    label="Previous Level"
    [mostRecentOfNumbers]="session.levelScores">
  </ssl-datapoint>

  <ssl-datapoint
    label="Level Average"
    [averageOfNumbers]="session.levelScores">
  </ssl-datapoint>

  <ssl-datapoint
    label="Start"
    [directNumber]="session.currentStart">
  </ssl-datapoint>

  <ssl-datapoint
    label="Death Points"
    [sumOfNumbers]="session.deaths">
  </ssl-datapoint>

  <ssl-datapoint
    label="Bonus Points"
    [sumOfNumbers]="session.bonuses">
  </ssl-datapoint>

  <ssl-user-input 
    (submitScore)="handleSubmitScore($event)">
  </ssl-user-input>

  <div class="pl-3 pr-3 float-right">
    <button mat-flat-button>SHOW TUTORIAL</button>
    <button mat-flat-button>SETTINGS</button>
    <button mat-flat-button (click)="handleUndoClick()">UNDO</button>
    <button mat-flat-button color="warn" (click)="handleResetClick()">RESET</button>
  </div>
</div>