<div *ngIf="session$ | async as session" class="ssl-display">
  <div *ngFor="let widgetInstance of session.settings.layout.widgets">
    <ssl-datapoint
      *ngIf="widgetInstance.widget === 'PACE'"
      label="{{ widgetInstance.labelOverride || 'Pace' }}"
      [directNumber]="session.currentPace">
    </ssl-datapoint>

    <ssl-datapoint
      *ngIf="widgetInstance.widget === 'PREVIOUS_LEVEL'"
      label="{{ widgetInstance.labelOverride || 'Previous Level' }}"
      [mostRecentOfNumbers]="session.levelScores">
    </ssl-datapoint>

    <ssl-datapoint
      *ngIf="widgetInstance.widget === 'LEVEL_AVERAGE'"
      label="{{ widgetInstance.labelOverride || 'Level Average' }}"
      [averageOfNumbers]="session.levelScores">
    </ssl-datapoint>

    <ssl-datapoint
      *ngIf="widgetInstance.widget === 'START'"
      label="{{ widgetInstance.labelOverride || 'Start' }}"
      [directNumber]="session.currentStart">
    </ssl-datapoint>

    <ssl-datapoint
      *ngIf="widgetInstance.widget === 'DEATH_POINTS'"
      label="{{ widgetInstance.labelOverride || 'Death Points' }}"
      [sumOfNumbers]="session.deaths">
    </ssl-datapoint>

    <ssl-datapoint
      *ngIf="widgetInstance.widget === 'BONUS_POINTS'"
      label="{{ widgetInstance.labelOverride || 'Bonus Points' }}"
      [sumOfNumbers]="session.bonuses">
    </ssl-datapoint>
  </div>

  <ssl-user-input 
    (submitScore)="handleSubmitScore($event)">
  </ssl-user-input>

  <div class="pl-3 pr-3 float-right">
    <button mat-flat-button>SHOW TUTORIAL</button>
    <button mat-flat-button>SETTINGS</button>
    <button mat-flat-button (click)="handleUndoClick()">UNDO</button>
    <button mat-flat-button color="warn" (click)="handleResetClick()">RESET</button>
  </div>
</div>