<div *ngIf="clonedSessionSettings" class="ssl-settings">
  <div class="container">
    <div class="row mt-3">
      <div class="col-sm-12">
        <p class="ssl-settings__header">
          Predefined Layouts
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>Choose a predefined layout</mat-label>
          <mat-select (selectionChange)="handleChoosePredefinedLayout($event)">
            <mat-option value="crazyKong">Crazy Kong</mat-option>
            <mat-option value="donkeyKong">Donkey Kong</mat-option>
            <mat-option value="donkeyKongJr">Donkey Kong Jr.</mat-option>
            <mat-option value="donkeyKongRemix">Donkey Kong Remix</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-form-field appearance="standard">
          <mat-label>Number of identical repeating levels</mat-label>
          <input
            matInput
            placeholder="Enter the number of identical repeating levels"
            [(ngModel)]="clonedSessionSettings.repeatingLevelCount">
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12">
        <p class="ssl-settings__header">
          Widgets
        </p>

        <p class="ssl-settings__description">
          Drag and drop widgets in the list to re-order them.
          Clicking the <mat-icon>visibility</mat-icon> icon will turn widgets on and
          off in your layout. Labels can be customized by putting your own text in
          a widget's custom label field.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <mat-list 
          class="ssl-settings__widgets-list mat-elevation-z2" 
          role="list">
          <div [sortablejs]="clonedSessionSettings.layout.widgets">
            <div *ngFor="let widgetInstance of clonedSessionSettings.layout.widgets; let last = last;">
              <mat-list-item>
                <div class="col-sm-6 pl-0">
                  <button mat-icon-button class="mr-2" (click)="handleVisibilityClick(widgetInstance)">
                    <mat-icon *ngIf="widgetInstance.isVisible">visibility</mat-icon>
                    <mat-icon *ngIf="!widgetInstance.isVisible">visibility_off</mat-icon>
                  </button>
                  {{ widgetInstance.widget | titlecase }}
                </div>
                <div class="col-sm-6">
                  <mat-form-field appearance="standard">
                    <mat-label>Custom label</mat-label>
                    <input
                      matInput
                      placeholder="Enter a custom label"
                      [(ngModel)]="widgetInstance.labelOverride">
                  </mat-form-field>
                </div>
              </mat-list-item>
              <mat-divider *ngIf="!last"></mat-divider>
            </div>
          </div>
        </mat-list>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12">
        <div class="float-right">
          <button mat-flat-button (click)="handleCancelClick()">CANCEL</button>
          <button mat-flat-button color="primary" (click)="handleSaveClick()">
            SAVE CHANGES AND CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>